@font-face {
    font-family: 'Muller ExtraBold DEMO';
    src: url('MullerExtraBoldDEMO.eot');
    src: url('MullerExtraBoldDEMO.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBoldDEMO.woff2') format('woff2'),
        url('MullerExtraBoldDEMO.woff') format('woff'),
        url('MullerExtraBoldDEMO.ttf') format('truetype'),
        url('MullerExtraBoldDEMO.svg#MullerExtraBoldDEMO') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller ExtraBold DEMO';
    src: url('MullerExtraBoldDEMO_1.eot');
    src: url('MullerExtraBoldDEMO_1.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBoldDEMO_1.woff2') format('woff2'),
        url('MullerExtraBoldDEMO_1.woff') format('woff'),
        url('MullerExtraBoldDEMO_1.ttf') format('truetype'),
        url('MullerExtraBoldDEMO_1.svg#MullerExtraBoldDEMO') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Thin DEMO';
    src: url('MullerThinDEMO.eot');
    src: url('MullerThinDEMO.eot?#iefix') format('embedded-opentype'),
        url('MullerThinDEMO.woff2') format('woff2'),
        url('MullerThinDEMO.woff') format('woff'),
        url('MullerThinDEMO.ttf') format('truetype'),
        url('MullerThinDEMO.svg#MullerThinDEMO') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller ExtraBold DEMO';
    src: url('MullerExtraBoldDEMO_2.eot');
    src: url('MullerExtraBoldDEMO_2.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBoldDEMO_2.woff2') format('woff2'),
        url('MullerExtraBoldDEMO_2.woff') format('woff'),
        url('MullerExtraBoldDEMO_2.ttf') format('truetype'),
        url('MullerExtraBoldDEMO_2.svg#MullerExtraBoldDEMO') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBold.eot');
    src: url('MullerBold.eot?#iefix') format('embedded-opentype'),
        url('MullerBold.woff2') format('woff2'),
        url('MullerBold.woff') format('woff'),
        url('MullerBold.ttf') format('truetype'),
        url('MullerBold.svg#MullerBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-Light.eot');
    src: url('MullerNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-Light.woff2') format('woff2'),
        url('MullerNarrow-Light.woff') format('woff'),
        url('MullerNarrow-Light.ttf') format('truetype'),
        url('MullerNarrow-Light.svg#MullerNarrow-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller ExtraBold DEMO';
    src: url('MullerExtraBoldDEMO_3.eot');
    src: url('MullerExtraBoldDEMO_3.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBoldDEMO_3.woff2') format('woff2'),
        url('MullerExtraBoldDEMO_3.woff') format('woff'),
        url('MullerExtraBoldDEMO_3.ttf') format('truetype'),
        url('MullerExtraBoldDEMO_3.svg#MullerExtraBoldDEMO') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-ExtraBoldItalic.eot');
    src: url('MullerNarrow-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-ExtraBoldItalic.woff2') format('woff2'),
        url('MullerNarrow-ExtraBoldItalic.woff') format('woff'),
        url('MullerNarrow-ExtraBoldItalic.ttf') format('truetype'),
        url('MullerNarrow-ExtraBoldItalic.svg#MullerNarrow-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerRegular.eot');
    src: url('MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('MullerRegular.woff2') format('woff2'),
        url('MullerRegular.woff') format('woff'),
        url('MullerRegular.ttf') format('truetype'),
        url('MullerRegular.svg#MullerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-ExtraBold.eot');
    src: url('MullerNarrow-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-ExtraBold.woff2') format('woff2'),
        url('MullerNarrow-ExtraBold.woff') format('woff'),
        url('MullerNarrow-ExtraBold.ttf') format('truetype'),
        url('MullerNarrow-ExtraBold.svg#MullerNarrow-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-LightItalic.eot');
    src: url('MullerNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-LightItalic.woff2') format('woff2'),
        url('MullerNarrow-LightItalic.woff') format('woff'),
        url('MullerNarrow-LightItalic.ttf') format('truetype'),
        url('MullerNarrow-LightItalic.svg#MullerNarrow-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-ExtraBold_1.eot');
    src: url('MullerNarrow-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-ExtraBold_1.woff2') format('woff2'),
        url('MullerNarrow-ExtraBold_1.woff') format('woff'),
        url('MullerNarrow-ExtraBold_1.ttf') format('truetype'),
        url('MullerNarrow-ExtraBold_1.svg#MullerNarrow-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-ExtraBoldItalic_1.eot');
    src: url('MullerNarrow-ExtraBoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-ExtraBoldItalic_1.woff2') format('woff2'),
        url('MullerNarrow-ExtraBoldItalic_1.woff') format('woff'),
        url('MullerNarrow-ExtraBoldItalic_1.ttf') format('truetype'),
        url('MullerNarrow-ExtraBoldItalic_1.svg#MullerNarrow-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Thin DEMO';
    src: url('MullerThinDEMO_1.eot');
    src: url('MullerThinDEMO_1.eot?#iefix') format('embedded-opentype'),
        url('MullerThinDEMO_1.woff2') format('woff2'),
        url('MullerThinDEMO_1.woff') format('woff'),
        url('MullerThinDEMO_1.ttf') format('truetype'),
        url('MullerThinDEMO_1.svg#MullerThinDEMO') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerRegular_1.eot');
    src: url('MullerRegular_1.eot?#iefix') format('embedded-opentype'),
        url('MullerRegular_1.woff2') format('woff2'),
        url('MullerRegular_1.woff') format('woff'),
        url('MullerRegular_1.ttf') format('truetype'),
        url('MullerRegular_1.svg#MullerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-Light_1.eot');
    src: url('MullerNarrow-Light_1.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-Light_1.woff2') format('woff2'),
        url('MullerNarrow-Light_1.woff') format('woff'),
        url('MullerNarrow-Light_1.ttf') format('truetype'),
        url('MullerNarrow-Light_1.svg#MullerNarrow-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Narrow';
    src: url('MullerNarrow-LightItalic_1.eot');
    src: url('MullerNarrow-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('MullerNarrow-LightItalic_1.woff2') format('woff2'),
        url('MullerNarrow-LightItalic_1.woff') format('woff'),
        url('MullerNarrow-LightItalic_1.ttf') format('truetype'),
        url('MullerNarrow-LightItalic_1.svg#MullerNarrow-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBold_1.eot');
    src: url('MullerBold_1.eot?#iefix') format('embedded-opentype'),
        url('MullerBold_1.woff2') format('woff2'),
        url('MullerBold_1.woff') format('woff'),
        url('MullerBold_1.ttf') format('truetype'),
        url('MullerBold_1.svg#MullerBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

